body {
    cursor: default;
    font-size: 18px;
    min-width: 360px;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 15px;
    }
}

@media (min-width: 1280px) {
    body {
        font-size: 14px;
    }
}

label {
    cursor: pointer;
}

#ver {
    font-size: 14px;
}

#pasta-body {
    background: #eee;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
}

#buttons .btn {
    border-bottom: 5px solid #0053ad;
}

#buttons .btn:active {
    border-bottom: none;
    margin-top: 5px;
}

#buttons .btn:active,
#buttons .btn:focus {
    box-shadow: none;
    text-shadow: 0 0 3px #fff;
    transition: none;
}

#cat-box .ui-button {
    margin-right: 0;
    padding: 0 5px;
}

#cat-box .ui-selectmenu-text {
    line-height: 32px;
}

#cat-box .ui-button .ui-icon {
    margin-top: -8px;
    position: absolute;
    right: 5px;
    top: 50%;
}